html {
  font-size: $text-base-size;
}

body {
  font-family: $body-font;
  line-height: 1.5;
  display: grid;
  max-width: $desktop;
  margin: 0 auto;
  grid-template-columns: auto ($tablet - 160px) auto;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: #ea9629;
    text-decoration: underline;
  }
}


body > aside {
  grid-area: people;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.9em;

  > div {
    background-color: #f7f5e7;
    padding: 1em;
    margin-bottom: 1em;

    h3 {
      padding: 0;
      margin: 0;
      margin-bottom: 0.5em;
      font-weight: 300;
      font-style: italic;
      font-family: $body-font;
      font-size: 1.5em;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0.35em 0;
      }
    }
  }
}

body > footer {
  grid-area: footer;
  background-color: #220e10;
  > div {
    padding: 1em 3em;
    h3 {
      color: #fff;
      font-size: 1.3em;
      font-weight: 300;
      font-family: $body-font;
      font-style: italic;
    }
  }
}

body > header {
  display: grid;
  grid-area: header;
  grid-template-columns: auto $desktop auto;
  grid-row-gap: 1em;
  grid-template-areas:
    ". masthead ."
    ". tagline  .";

  background-color: #ff8f00;
  background-size: auto 100%;
  padding-top: 3.75em;
  padding-bottom: 3.75em;

  h1 {
    grid-area: masthead;
    font-family: $masthead-font;
    margin: 0 auto;
    font-size: 3.75em;
  }

  h2 {
    grid-area: tagline;
    margin: 0 auto;
    font-family: $body-font;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
  }
}

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: auto $desktop auto;
  grid-template-areas: ". items .";
  margin: 0;
  background-color: #f7f5e7;
  ol {
    grid-area: items;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      text-align: center;
      a {
        display: inline-block;
        color: #141412;
        text-decoration: none;
        font-size: 1em;
        padding: 1em 1.45em;

        &:hover, &:hover {
          background-color: #220e10;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

body > main, body > article {
  grid-area: content;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;

  h1 {
    font-size: 3em;
    font-weight: normal;
  }

  h2 {
    font-size: 1.4em;
  }

  img.alignleft {
    width: 96px;
    height: 96px;
    float: left;
    margin: 5px 20px 5px 0;
  }
}

ul.people {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%,1fr));
  li {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    width: fit-content;
    p {
      display: grid;
      text-align: center;
      height: 5em;
      > * {
        line-height: 5em;
      }
    }

    p:first-of-type {
      text-align: left;
      grid-template-columns: 6em auto;
      grid-template-areas: "img name" ". .";
      img {
        display: block;
        grid-area: img;
        vertical-align: middle;
	height: 100%;
        border-radius: 100%;
        margin-right: 1em;
      }
      a {
        display: block;
        grid-area: name;
      }
    }
  }
}

ul.publications {
  list-style-type: square;
}

ul.publications, ol.publications {
  h3 {
    color: red;
    font-size: 1em;
    font-weight: normal;
    font-family: inherit;
    padding: 0;
    margin: 0;
  }
  p {
    padding: 0;
    margin: 0;

    &.venue {
      font-style: italic;
    }
  }
}

